#myVideo{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
}


h1{
	position: relative;
	font-size: 150px;
	z-index: 3;
	text-align: center;
	top: 7%;
  
}

.innertext{
	position: relative;
	font-size: 200px;
	color: yellow;
	text-align: center;
	top: 10%;
	z-index: 3;
}
